.third-page {
  background-repeat: no-repeat;
  width: 100%px;
  background-size: cover;
  height: 965px;
  background-position: center center;
}
.wwa {
  font-family: Poppins-Bold;
  font-size: 43px;
  color: #222222;
  margin-top: 120px;
  text-align: center;
}
.aboutus {
  font-family: Poppins-SemiBold;
  font-size: 35px;
  color: #222222;
  text-align: center;
}
.we-are {
  font-family: OpenSans-Bold;
  font-size: 20px;
  color: #222222;
  text-align: justify;
  margin-bottom: 50px;
}
.we-are-para {
  margin-top: 100px;
}
