.second {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 762px;
}
.first_pic {
  max-width: 330px !important;
  height: 277px !important;
  margin-top: 265px;
  position: relative;
}
.second_pic {
  max-width: 250px !important;
  height: 250px !important;
  margin-left: 35px;
  margin-top: -65px;
}
.third_pic {
  max-width: 186px !important;
  height: 186px !important;
  z-index: 5 !important;
  margin-left: 220px;
  margin-top: -65px;
  position: relative;
}
.parent {
  margin-top: 230px;
}
.what_we {
  font-family: Poppins-Bold;
  color: #67a5ae;
  font-size: 30px;
}
.best_place {
  font-family: Poppins-Bold;
  color: black;
  font-size: 43px;
}
.the_value {
  font-family: Poppins-Bold;
  color: #8e8e8e;
  font-size: 15px;
  text-align: justify;
}
.icon1 {
  margin-left: 240px !important;
}
.icon3 {
  margin-left: 190px !important;
}
.icon1_h {
  text-align: center;
  font-family: OpenSans-Bold;
  color: #222222;
  font-size: 22px;
  margin-top: 20px;
}
.icon1_p {
  text-align: center;
  font-family: OpenSans-Semibold;
  color: #575757;
  font-size: 16px;
  margin-top: 20px;
}
.btn_icon {
  margin-bottom: 105px;
  margin-top: 50px;
}
.second_footer {
  background-color: #29636e;
  height: 220px;
}
.eleven,
.competition {
  font-family: Poppins-Bold;
  color: white;
}
.eleven {
  font-size: 60px !important;
  text-align: center;
  margin-top: 75px;
}
.competition {
  font-size: 16px;
  text-align: justify;
  margin-top: 88px;
  margin-left: 10px;
}
.one {
  margin-left: -40px;
}
