.fourth-page {
  background-repeat: no-repeat;
  background-size: cover;
  height: 855px;
  background-position: center center;
}
.our-services-div {
  margin-top: 85px;
}
.our-services {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: black;
  background-color: rgba(205, 234, 229, 0.4);
  padding: 10px 20px 15px 20px;
  border-radius: 5px;
  margin-left: 440px;
  text-align: center;
  display: inline-block;
}
.our-services-footer-four-img {
  margin-top: -60px;
}
.cc {
  margin-top: 200px;
}
.img-cc {
  max-width: 556px;
  height: 460px;
  background-repeat: no-repeat;
  position: relative;
}
.cc-wraper {
  position: absolute;
  margin-top: -140px;
  margin-left: 45px;
}
.create {
  font-family: Poppins-SemiBold;
  color: white;
  font-size: 30px;
}
.consult {
  font-family: Poppins-Bold;
  color: white;
  font-size: 48px;
}
.pm-div {
  margin-top: 200px;
}
.img-pm {
  max-width: 267px;
  height: 220px;
  background-repeat: no-repeat;
  position: relative;
}
.pm {
  position: absolute;
  margin-top: -75px;
  margin-left: 35px;
}
.pm-h {
  font-family: Poppins-Bold;
  color: white;
  font-size: 23px;
}
.h5 {
  font-size: 18px;
}
.h4 {
  font-size: 23px;
}
.dd {
  margin-top: 20px;
}
.rd-wrapper {
  margin-top: 200px;
}
.img-rd {
  max-width: 273px;
  height: 460px;
  background-repeat: no-repeat;
  position: relative;
}
.rd {
  position: absolute;
  margin-top: -100px;
  margin-left: 30px;
}
.rd-h5 {
  font-family: Poppins-SemiBold;
  color: white;
  font-size: 18px;
}
.rd-h4 {
  font-family: Poppins-Bold;
  color: white;
  font-size: 30px;
}

